* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Times New Roman', Times, serif;
    background-color: #FAF3E0;
    overflow-x: hidden;
    color: white;
    background-image: url(images/image\ copy\ 29.png);


}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(50, 33, 109);
    color: black;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    padding: 5px;

}

.conteiner {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aliceblue;
    padding: 20px;
    text-shadow: 10px 10px 10px black;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(135deg, rgb(57, 38, 75) 0%, rgb(28, 4, 49) 100%);

}

.avatar-logo {
    display: flex;
    align-items: center;

}

h1,
p {
    text-align: center;

}



.hero {
    background: linear-gradient(135deg, rgb(30, 18, 41) 0%, rgb(28, 4, 49) 100%);
    color: aliceblue;
    padding: 120px;
    align-items: center;
    background-image: url(images/image\ copy\ 27.png);
}

.salom {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-style: bold;
    transition: transform, 0.5s;
}

a:hover {
    text-shadow: 5px 5px 5px black;
    color: dodgerblue;
    text-decoration: underline;
    transform: translate(5px, -5px);
}

.main {
    display: flex;
    justify-content: center;
}

img {
    padding: 10px;
    border-radius: 20%
}

.se {
    display: flex;
}

h2 {
    margin-top: 30px;
}

.p1 {
    display: block;
    margin-top: 10px;


}


.con {
    /*   margin-top: 20px;
    margin: auto;
    height: 00px;
    border: 1px solid;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    padding: 25px;
    background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);
    color: aliceblue;*/
}

.span {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 40px;

}

.span img {
    transition: transform 0.3s ease-in-out;

}

.span img:hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px 5px 5px black;
}




.id1 {
    margin-top: 20px;
}

.let {
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: linear-gradient(135deg, rgb(70, 58, 82) 0%, rgb(28, 4, 49) 100%);

    color: aliceblue;
    width: 100%;
}

.m1 {
    display: flex;
    font-size: 15px;
    padding: 5px;
    justify-content: center;
    text-align: center;

}

.mk1 {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 20px;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    font-size: 15PX;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.xx {
    margin-bottom: 15px;
}

.iq {
    display: flex;
    margin-bottom: 50px;

    border: 2px solid black;
    padding: 20px;
    width: 1470px;
    height: 250px;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(135deg, rgb(30, 18, 41) 0%, rgb(28, 4, 49) 100%);

    ;

}

.iq :hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px 5px 5px black;

}

.yaq {
    color: aliceblue;
    font-style: italic;
    background: linear-gradient(135deg, rgb(30, 18, 41) 0%, rgb(28, 4, 49) 100%);

}

.nav2 {
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, rgb(30, 18, 41) 0%, rgb(28, 4, 49) 100%);
    gap: 100px;
    text-align: justify;
    justify-content: space-between;
}

.play,
.p1 {
    display: flex;
    align-items: end;
    border: 1px solid black;
    justify-content: center;
    column-gap: 20px;
    background: linear-gradient(135deg, rgb(53, 35, 70) 0%, rgb(28, 4, 49) 100%);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.burger {
    width: 30px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 4px;
    background: black;
    margin: 5px 0;
}

.menu {
    display: none;
    margin-top: 10px;
}

.iha {
    display: block;
    width: 350px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    box-shadow: 30px 10px 50px 20px darkcyan;
    text-shadow: 5px 3px 5px darkcyan;
    margin-left: 70px;
    margin-bottom: 50px;

}

.myin {
    display: flex;
    margin-left: 20%;
    ;
}

.in {
    display: flex;
    width: 350px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    text-align: end;
    padding: 10px;
    box-shadow: 30px 10px 50px 20px darkcyan;
    text-shadow: 5px 3px 5px darkcyan;
    margin-left: 20px;
    margin-bottom: 50px;
    justify-content: flex-end;
    margin: 0 0 0 1050px;

}

.m20 {
    margin-left: 90%;
}

.funk {
    display: flex;
    justify-content: center;
}








/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    height: 500px;
    background: url('hero-bg.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    background-image: url(images/image\ copy\ 27.png);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* qora shaffof overlay */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    animation: fadeIn 2s ease-out;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #ddd;
}

.btn {
    padding: 12px 30px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Scroll down indicator */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.scroll-down span {
    display: block;
    width: 3px;
    height: 30px;
    margin: 0 auto;
    background: white;
    border-radius: 3px;
    animation: scroll 2s infinite;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll {

    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
}


.proek {
    display: flex;
    margin: 20px;
    height: 20px;
    border: 1px solid darkcyan;
    width: 700px;
    height: 200px;
    border-radius: 20PX;
    box-shadow: 10px 5px 5px 10px darkcyan;
    padding: 20px;
    justify-content: start;
    text-shadow: 15px 5px 10px darkcyan;
}

.fod {
    display: inline;
    background-color: greenyellow;
    color: black;
}

.media {

    margin-top: 20px;
    border: 5px solid rgb(6, 56, 56);
    width: 95%;
    height: 400px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}



.muc {
    display: inline-block;
    margin-left: 50%;
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(3, 36, 36);
    width: 100px;


}

.my7 {
    padding: -100px;
}



.v {
    margin-left: 47%;
    padding: 20px;
}

.mus {
    display: flex;
    justify-content: start;
    margin-left: 41%;
}


.next{
    padding:10px 20px;
  background:#091d32;
  color:white;
  text-decoration:none;
  border-radius:6px;
  margin-left: 90%;
}