* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #FAF3E0;
    overflow-x: hidden;
background-image: url(images/image\ copy\ 23.png);
color: white;

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    color: black;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    padding: 5px;

}

.conteiner {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aliceblue;
    padding: 20px;
    text-shadow: 10px 10px 10px black;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

     background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

}

.avatar-logo {
    display: flex;
    align-items: center;

}

h1,
p {
    text-align: center;

}



.hero {
        background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

    color: aliceblue;
    padding: 120px;
    align-items: center;
}

.salom {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-style: bold;
    transition: transform, 0.5s;
}

a:hover {
    text-shadow: 5px 5px 5px black;
    color: dodgerblue;
    text-decoration: underline;
    transform: translate(5px, -5px);
}

.main {
    display: flex;
    justify-content: center;
}

img {
    padding: 10px;
    border-radius: 20%
}

.se {
    display: flex;
}

h2 {
    margin-top: 30px;
}

.p1 {
    display: block;
    margin-top: 10px;

}


.con {
    margin-top: 20px;
    margin: auto;
    height: 00px;
    border: 1px solid;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    padding: 25px;
   background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);
    color: aliceblue;
}

.span {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 40px;

}

.span img {
    transition: transform 0.3s ease-in-out;

}

.span img:hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px 5px 5px black;
}




.id1 {
    margin-top: 20px;
}

.let {
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
      background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

    color: aliceblue;
    width: 100%;
}

.m1 {
    display: flex;
    font-size: 15px;
    padding: 5px;
    justify-content: center;
    text-align: center;

}

.mk1 {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 20px;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    font-size: 15PX;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.xx {
    margin-bottom: 15px;
}

.iq {
    display: flex;
    margin-bottom: 50px;

    border: 2px solid black;
    padding: 20px;
    width: 1470px;
    height: 250px;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
          background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

    ;

}

.iq :hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px 5px 5px black;

}

.yaq {
    color: aliceblue;
    font-style: italic;
      background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

}

.nav2 {
    display: flex;
    width: 100%;
    height: 100px;
       background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

    gap: 100px;
    text-align: justify;
    justify-content: space-between;


}

.play,
.p1 {
    display: flex;
    align-items: end;
    border: 1px solid black;
    justify-content: center;
    column-gap: 20px;
   background: linear-gradient(135deg, rgb(41, 56, 33) 0%, rgb(43, 43, 145) 100%);

}